div.listadoAutoresTbl table,th,tr,td{
   
    font-size: 1.2em;
    color:black;
}


div.listadoAutoresTbl th{   
    font-style: italic;
} 


div.listadoAutoresTbl tr:nth-child(odd) {	
    background-color: #B0E0E6;	
}
	
div.listadoAutoresTbl tr:nth-child(even) {	
    background-color:#87CEFA;	
}



div.listadoAutoresTbl a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

    




